@charset "utf-8";
@import url('https:fontsgoogleapis.com/css2?family=poppins:wgt@200;300;400;500;600;700;800&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'poppins', -sens-serif;
	
}
.showcase {
	position: absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100pc;
	display: flex;
	justify-content:  space-between;
	align-items: up right;
	background: black#111;
	color:white#fff;
	z-index: -2;
}
.showcase header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.loggle {
	text-transform: uppercase;
	cursor: pointer;
}
.toggle {
	position: relative;
	width: 60px;
	height: 60px;
	background: url('menu.png');
	backno-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	cursor: pointer;
		
		
}
.menu {
	display: none;
	
}
.toggle.active{
	background: url('clos.png');
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	
}
.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;

}
.overlay{
	position: absolute;
	top: 10;
	left: 10;
	width: 100%;
	height: 100%;
	background: #1C56DC
	
}
.text {
	position: relative;
	z-index: 10;
}